= provide(:title, "New Goals Input")

- flash.each do |key, msg|
  %div{ :class => 'text-center bg-' + key.to_s } 
    %span{ :class => 'h3 text-' + key.to_s}
      #{msg}
      
.page-header
  %h1 New Goals Input


.container-fluid 

  .userlinks.pull-right.col-xs-12.col-md-2.btn-group-vertical
    = link_to 'Back', user_data_path, :class => 'btn btn-default'

  .col-xs-12.col-md-8.pull-right
    = render 'form'


