body {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

p {
  text-indent:16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.navigation {
  float:left;
}

.clear {
  clear:both;
}

.overview {
  padding:15px;
  float:left;
  width:-webkit-calc(100% - 200px);
  width:-moz-calc(100% - 200px);
  width:calc(100% - 200px);
}

.chart {
  height:500px;
  margin:0 auto;
  max-width:720px;
  svg {
    fill:steelblue;
  }
}