// Place all the styles related to the UserData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navigation {
  float:left;
}
.overview {
  float:left;
  min-width:80%;
}
.userlinks {
  float:right;
}
.splash_charts {
  height:500px;
  margin:0 auto;
  max-width:720px;
  svg {
    width:100%;
    height:100%;
    fill:steelblue;
  }
  div {
    float:left;
    width:40%;
    height:40%;
    margin:5%;
    &:before {
      position:relative;
      font-size:18px;
      font-weight:semibold;
    }
  }
}
.datadump {
  // display:none;
}

.retailhoursperro {
  &:before {
    content: 'Retail Hours Per RO';
  }
}

.hourspertechperday {
  &:before {
    content:'Hours Per Tech, Per Day';
  }
}

.retailrocount {
  &:before {
    content: 'Retail RO Count';
  }
}

.effectivelabourrate {
  &:before {
    content: 'Effective Labour Rate';
  }
}